@model IEnumerable<JN.Ordersystem.DAL.Entities.Product>
<ul>
    @foreach (var product in Model)
    {
        <a href="@Url.Action("Details", "Product", new { id = product.ProductID })">
            <li>@product.ProductID. @product.ItemName - Units in Stock: @product.UnitsInStock</li>
        </a>
    }
</ul>